    body {
        font-family: 'Montserrat', sans-serif;
    }
    
    header {
        padding: 15px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        position: relative;
    }
    
    .logo {
        width: 190px;
        height: 40px;
    }
    
    .menu {
        top: 100%;
        right: 0;
        position: absolute;
        background-color: #FFFFFF;
        z-index: 1;
        clip-path: circle(0px at top right);
        transition: clip-path ease-in-out 700ms;
    }
    
    .menu ul {
        font-family: 'Questrial', sans-serif;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .menu a {
        text-decoration: none;
        padding: 10px 30px;
        display: block;
        color: #7e7e7e;
    }
    
    .menu a:hover,
    .menu a:focus {
        background-color: #ff5672;
        color: #FFF;
    }
    
    .menu-mobile {
        padding: 1em;
        position: absolute;
        top: .5em;
        right: .5em;
    }
    
    .menumobile-open {
        clip-path: circle(150% at top right);
    }
    
    .menu-open .hamburguer {
        transform: rotate(45deg);
    }
    
    .menu-open .hamburguer::before {
        opacity: 0;
    }
    
    .menu-open .hamburguer::after {
        transform: translateY(-3px) rotate(-90deg);
    }
    
    .hamburguer,
    .hamburguer::before,
    .hamburguer::after {
        content: '';
        display: block;
        background: #ff5672;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
    }
    
    .hamburguer::before {
        transform: translateY(-6px);
    }
    
    .hamburguer::after {
        transform: translateY(3px);
    }
    
    @media (min-width:768px) {
        .menu-mobile {
            display: none;
        }
        .menu {
            height: auto;
            position: relative;
            background: transparent;
            float: right;
            width: 70%;
            display: flex;
            justify-content: end;
            align-items: center;
            clip-path: none;
        }
        .menu li {
            display: inline-block;
            border: none;
        }
        .menu a {
            padding: 15px;
        }
    }
    
    .buscador {
        width: 20%;
        display: flex;
        justify-content: end;
    }
    
    .buscar-texto {
        border: none;
        background: none;
        outline: none;
        color: #7e7e7e;
        text-align: center;
        font-size: 20px;
        float: left;
        transition: .3s;
        width: 0;
    }
    
    .buscador:hover>.buscar-texto {
        width: 80%;
        border: groove;
        border-radius: 20px;
    }
    
    .boton-buscador {
        align-self: center;
        cursor: pointer;
    }
    
    .img-buscador {
        width: 20px;
    }
    
    .body-cont {
        height: max-content;
    }
    
    #bannerpal {
        background-color: #fc758c;
        position: relative;
        height: 600px;
        width: 100%;
    }
    
    #bannerpal figcaption {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    #bannerpal figcaption h2 {
        font-family: 'Questrial', sans-serif;
        font-size: 30px;
        color: white;
        text-align: center;
        letter-spacing: 12px;
    }
    
    #bannerpal figcaption h3 {
        font-size: 15px;
        color: white;
        text-align: center;
        padding-block-end: 20px;
    }
    
    #bannerpal figcaption .boton-control {
        padding: 10px 30px;
        background: #FFFFFF;
    }
    
    #bannerpal figcaption .boton-control a {
        color: #fc758c;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    }
    
    #layouts {
        display: flex;
        justify-content: center;
    }
    
    .grid-box {
        width: 20px;
        height: 20px;
        padding-top: 2rem;
        margin: 0 10px;
    }
    
    .grid-lineal {
        width: 20px;
        height: 20px;
        padding-top: 2rem;
        margin: 0 10px;
    }
    
    #tabs {
        width: 75%;
        margin: 0 auto;
        max-width: 1100px;
    }
    
    .contenedor {
        padding: 1em;
    }
    
    .contenedor .ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contenedor .li {
        padding: 1em;
        margin: 0 1em 0 0;
        content-visibility: auto;
        font-family: 'Questrial', sans-serif;
        color: #7e7e7e;
        transition: all .5s ease;
    }
    
    .contenedor .li:hover,
    .contenedor .li:focus {
        background-color: #ff5672;
        color: #FFF;
    }
    
    .contenedor .li.activo {
        background-color: #ff5672;
        color: #FFF;
    }
    
    .contenedor .subcontenedor {
        min-height: 10vh;
        position: relative;
    }
    
    .contenedor .bloque {
        margin: 1em;
        padding: 1em;
        width: auto;
        display: none;
    }
    
    .contenedor .bloque.activo {
        display: flex;
        height: max-content;
        align-items: center;
        flex-direction: column;
    }
    
    .bloquess {
        display: block;
        columns: 3;
    }
    
    .bloquess img {
        display: none;
    }
    
    .gif.active {
        display: block !important;
    }
    
    img.gif {
        width: 100%;
        margin: 5px;
    }
    
    button.showMore {
        display: flex;
        justify-content: center;
        margin: 1rem;
        background-color: #ff5672;
        color: #FFF;
        border: none;
        padding: 10px;
    }
    
    @media (max-width:768px) {
        .buscador {
            display: none;
        }
        #tabs {
            width: 85%;
        }
        .contenedor {
            padding: 0;
        }
        .contenedor .li {
            padding: 10px;
            margin: auto;
        }
        .contenedor .ul {
            overflow: scroll;
            justify-content: initial;
        }
        .contenedor .bloque {
            margin: '1em';
            padding: 0;
            position: initial;
        }
        #layouts {
            display: none;
        }
        .bloquess {
            columns: 1 !important;
        }
        img.gif {
            margin-top: 1rem;
        }
    }
    
    #text-footer {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding-top: 2rem;
    }
    
    .textf {
        font-family: 'Questrial', sans-serif;
        color: #dfe6e9;
        letter-spacing: 3px;
    }
    
    .textf span {
        color: #ff8295;
    }
    
    #social-network {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        padding: 0 0 2rem;
    }
    
    .imgsocial {
        width: 25px;
        height: 25px;
        padding-top: 2rem;
        margin: 0 10px;
    }
    
    @media (max-width:768px) {
        #text-footer {
            padding-top: 0;
        }
        .textf {
            letter-spacing: 0;
            text-align: center;
        }
        .imgsocial {
            margin: 0 5px;
        }
    }